{#
/**
 * #state -
 * #link -
 * #locked -
 * activity_counter -
 * activities -
 * step -
 */
#}
{% set locked = elements['#locked'] %}
{% set state = elements['#state'] ?? 'pending' %}
{% set current = elements['#current'] == true ? 'current' : '' %}
<div {{ attributes.addClass('lp-step-lesson', current) }}>
  {% if locked %}
    <i class="locked"></i>
  {% endif %}
  <h4 class="lesson-title {{ elements['#current'] == true ? 'open' : '' }}">
    <span class="state {{ state }}"></span>
    {%  if elements["#link"] %}
      <a href="{{ elements["#link"] }}">
        {{ elements["#label"] }}
      </a>
    {% else %}
      {{ elements["#label"] }}
    {%  endif %}
  </h4>
  <ul class="activities-list {{ locked ? 'locked' : '' }}">
    {% for activity in elements.activities %}
      {{ activity }}
    {% endfor %}
  </ul>
</div>
