{#
/**
 * #state -
 * #current -
 * title -
 */
#}

{% set state = elements['#state'] ?? 'pending' %}
{% set current = elements['#current'] == true ? 'current' : '' %}

<li {{ attributes.addClass('lp-step-lesson-activity', state, current) }}>
  {{ elements['#current'] == true ? '<i class="current"></i>' : '' }}
  {% if elements['#link'] %}
    <a href="{{ elements['#link'] }}">{{ elements['#title'] }}</a>
  {% else %}
    {{ elements['#title'] }}
  {% endif %}
</li>
