{#
/**
 * title - Course title renderable array.
 * steps - lms_lp_step_module renderable array.
 */
#}
<div {{ attributes }}>
  <h3 class="lp-title">{{ elements.title }}</h3>
  <div class="lp-step-list">
    {{ elements.steps }}
  </div>
</div>
