{#
/**
 * LMS lesson timer template.
 *
 * Variables:
 * close_time (int) - timestamp when lesson lock occurs.
 */
#}

<div class="lms-lesson-timer" data-lms-close-time="{{ close_time }}">
  <span>{{ 'Remaining time:'|t }} <span class="time"></span></span>
</div>
